:root {
    --bs-green: #2F3E46;
    --bs-green-dark: #52796F;
}

html {
    font-size: 62.5%;  /* 1 rem = 10px */
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

/* ================ Reescribir colores ================*/

.text-primary, .nombre-sitio {
    color: var(--bs-green) !important;
}

.btn-success {
    background-color: var(--bs-green-dark) !important;
    border-color: var(--bs-green-dark) !important;
}

.bg-primary {
    background-color: var(--bs-green) !important;
}

.hero {
    background-image: url(../images/principal.jpg);
    height: 25rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.categoria-img{
    transition-property: transform;
    transition-duration: .3s;
}

.categoria-img:hover {
    transform: scale(1.2);
}

.galeria li:not(:last-of-type) {
    margin-bottom: 1rem;
}

@media (min-width: 768px){
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 3rem;
    }

    .hero {
        height: 55rem;
    }

    .producto img {
        height: 45rem;
        width: 100%;
        object-fit: cover;
    }
}